{% extends "base.html" %}
{% block content %}

<form class="" role="search" action="trip" method="get">
  <label for="sel_from">From:</label>
  <select class="form-control" name="from_" id="sel_from">
    <option value="0">Select starting destination</option>
    {% for destination in destinations %}
      {% if destination[0] == from_ %}
      <option value="{{ destination[0] }}" selected="selected">{{ destination[1] }} ({{ destination[2] }})</option>
      {% else %}
      <option value="{{ destination[0] }}">{{ destination[1] }} ({{ destination[2] }})</option>
      {% endif %}
    {% endfor %}
  </select>
  <label for="sel_to">To:</label>
  <select class="form-control" name="to_" id="sel_to">
  <option value="0">Select ending destination</option>
    {% for destination in destinations %}
      {% if destination[0] == to_ %}
      <option value="{{ destination[0] }}" selected="selected">{{ destination[1] }} ({{ destination[2] }})</option>
      {% else %}
      <option value="{{ destination[0] }}">{{ destination[1] }} ({{ destination[2] }})</option>
      {% endif %}
    {% endfor %}
  </select>
  <label for="sel_etime">Earliest Time:</label>
  <div class="container-fluid">
    <div class="col-md-6">
    <select class="form-control" name="ehour" id="sel_etime">
        <option value="0">Hour</option>
        {% for n in range(0, 23) %}
        {% if n == ehour %}
        <option selected="selected">{{ n }}</option>
        {% else %}
        <option>{{ n }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control" name="emin" id="sel_etime2">
      <option value="0">Min</option>
        {% for n in range(0, 60, 15) %}
        {% if n == emin %}
        <option selected="selected">{{ n }}</option>
        {% else %}
        <option>{{ n }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <label for="sel_ltime">Latest Time:</label>
  <div class="container-fluid">
    <div class="col-md-6">
      <select class="form-control" name="lhour" id="sel_ltime">
      <option value="0">Hour</option>
        {% for n in range(0, 24) %}
        {% if n == lhour %}
        <option selected="selected">{{ n }}</option>
        {% else %}
        <option>{{ n }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <select class="form-control" name="lmin" id="sel_ltime2">
      <option value="0">Min</option>
        {% for n in range(0, 60, 15) %}
        {% if n == lmin %}
        <option selected="selected">{{ n }}</option>
        {% else %}
        <option>{{ n }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class = "checkbox">
    <label><input type="checkbox" name="friends">Prefer Friends</label>
  </div>
  <div class="input-group">
    <label for="caseid">Case Id:</label>
    <input type="text" id="caseid" name="caseid" value="{{caseid}}" class="form-control" placeholder="abc123" aria-describedby="basic-addon4">
  </div>
  <input type="submit" class="btn btn-default" value="Submit">
</form>
{% if friends_trips %}
<div class="jumbotron">
  <h1>Trips with Friends</h1>
  <ul class="list-group">
    {% for trip in friends_trips %}
    <a href="/t/{{ trip[0] }}" class="list-group-item"> {{ trip }} </li>
      {% endfor %}
    </ul>
  </div>
  {% if trips %}
  <h1>More Trips</h1>
  <ul class="list-group">
    {% for trip in trips %}
    <a href="/t/{{ trip[0] }}" class="list-group-item"> {{ trip }} </li>
      {% endfor %}
    </ul>
    {% else %}
    {% endif %}
    {% else %}
    {% if trips %}
    <h1>Trips</h1>
    <div class="list-group">
      {% for trip in trips %}
      <a href="/t/{{ trip[0] }}" class="list-group-item">From: {{ trip[1] }} To: {{ trip[2] }} At: {{ trip[4] }} : {{ trip[5] }}</a>
      {% endfor %}
    </div>
    {% else %}
    No Trips found.
    {% endif %}
    {% endif %}

    <h2>Not finding what you're looking for?</h2>

    <span>
      <a href="/new_trip">
        <button type="button" class="btn">Create New Trip</button>
      </a>
      {% if trips.__len__() == 3 %}
      <a href="/trip_more?from_={{from_}}&to_={{to_}}&ehour={{ehour}}&emin={{emin}}&lhour={{lhour}}&lmin={{lmin}}#">
        <button type="button" class="btn">Load More Trips</button>
      </a>
      {% endif %}
    </span>

    {% endblock%}
