{% extends "base.html" %}
{% block content %}

<form class="" role="search" action="trip" method="get">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">from</span>
    <input type="text" id="trip-from" name="trip-from" value="{{from_}}" class="form-control" placeholder="Starting Location" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon2">to</span>
    <input type="text" id="trip-to" name="trip-to" value="{{to_}}" class="form-control" placeholder="Ending Location" aria-describedby="basic-addon2">
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">at</span>
    <input type="text" id="trip-at" name="trip-at" value="{{at_}}" class="form-control" placeholder="12:15pm" aria-describedby="basic-addon3">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" name="friends">Prefer Friends</label>
  </div>
  <input type="submit" class="btn btn-default" value="Submit">
</form>
{% if friends_trips %}
<div class="jumbotron">
  <h1>Trips with Friends</h1>
  <ul class="list-group">
    {% for trip in friends_trips %}
    <a href="/t/{{ trip[0] }}" class="list-group-item"> {{ trip }} </li>
      {% endfor %}
    </ul>
  </div>
  {% if trips %}
  <h1>More Trips</h1>
  <ul class="list-group">
    {% for trip in trips %}
    <a href="/t/{{ trip[0] }}" class="list-group-item"> {{ trip }} </li>
      {% endfor %}
    </ul>
  {% else %}
  {% endif %}
{% else %}
  {% if trips %}
  <h1>Trips</h1>
  <div class="list-group">
    {% for trip in trips %}
      <a href="/t/{{ trip[0] }}" class="list-group-item"><span>{{ trip }} <button type="button" class="btn">Join Trip</button></span></a>
    {% endfor %}
  </div>
  {% else %}
  No Trips found.
  {% endif %}
{% endif %}

<h2>Not finding what you're looking for?</h2>

<span>
  <a href="/new_trip">
    <button type="button" class="btn">Create New Trip</button>
  </a>
  <a href="/trip_more?trip-from={{ from_ }}&trip-to={{ to_ }}&trip-at={{ at }}">
    <button type="button" class="btn">Load More Trips</button>
  </a>
</span>

{% endblock%}
